/* :root {

} */

.container {
  display: grid;
  place-content: center;
  margin-top: 3em;
}

.lightsaber {
  /* Base */
  & .pommel-cap {
    --bgcolor: #e7e4db;
    --bgcolor-light: #f9f4f9;
    --bgcolor-dark: #90a79d;
    --bgcolor-medium: #d4d8d1;
    --bgcolor-shadow: #c8cec5;

    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: var(--bgcolor);

    & .bottom {
      background-color: var(--bgcolor);
      border-right: 4px solid var(--bgcolor-dark);

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--bgcolor-shadow);
        clip-path: polygon(0% 75%, 100% 25%, 100% 100%, 0% 100%);
      }
    }

    & .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: var(--bgcolor);
      position: relative;

      & .bisel {
        width: 50px;
        height: 25px;
        border-left: 12px solid var(--bgcolor-dark);
        border-right: 12px solid var(--bgcolor-medium);
        border-bottom: 12px solid var(--bgcolor-light);
        border-top: 0;
        background: var(--bgcolor-medium);
        clip-path: polygon(0 20%, 15% 0, 80% 0, 100% 25%, 100% 100%, 0 100%);

        &.right {
          transform: scaleY(-1); /* flip the bisel */
          background: var(--bgcolor-light);
          border-right: 12px solid var(--bgcolor-light);
          border-bottom: 12px solid var(--bgcolor-medium);
        }
      }

      & .end {
        width: 100%;
        height: 12px;
        position: absolute;
        top: -12px;
        bottom: auto;
        background-color: var(--bgcolor-medium);
        clip-path: polygon(0 100%, 20% 0, 80% 0, 100% 100%, 0 100%);

        &.right {
          background-color: var(--bgcolor-dark);
          transform: scaleY(-1); /* flip the end */
          top: auto;
          bottom: -12px;
        }
      }
    }

    & .top {
      background-color: var(--bgcolor);
      border-left: 4px solid var(--bgcolor-medium);
    }
  }
}
